{% extends "base.html.twig" %}

{% block section %}
    <div class="mobile-container">

        <div class="scenne">

            <p id="info"></p>

            <div id="progressBar">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="infos">
                <p id="touchSpeed"></p>
                <p id="touchAngle"></p>
                <p id="positionX"></p>
                <p id="positionY"></p>
            </div>

            <canvas>

            </canvas>

        </div>

        <div class="score-container">
            <div class="score-mobile">
                <span id="j1-device-score">0</span><span>g</span>
                <p>Joueur 1</p>
            </div>
            <p class="vs">VS</p>
            <div class="score-mobile">
                <span id="j2-device-score">0</span><span>g</span>
                <p>Joueur 2</p>
            </div>
        </div>

    </div>
    <div id="id-socket">ID du socket : {{ socket }}</div>
    <script src="device.js"></script>
{% endblock %}
