{% extends "base.html.twig" %}

{% block section %}
    <div class="mobile-container">

      <div class="scenne">

        <p id="info"></p>

        <div id="progressBar">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        
        <div class="infos">
          <p id="touchSpeed"></p>
          <p id="touchAngle"></p>
          <p id="positionX"></p>
          <p id="positionY"></p>
        </div>

        <canvas>

        </canvas>

      </div>

      <div class="score-container">
        <div class="score-mobile">
          <p>18<span>pt</span></p>
          <p>Vous</p>
        </div>
        <p class="vs">VS</p>
        <div class="score-mobile">
          <p>14<span>pt</span></p>
          <p>Joueur 2</p>
        </div>
      </div>

    </div>
    <div id="id-socket">ID du socket : {{ socket }}</div>
    <script src="device.js"></script>
{% endblock %}
